<!DOCTYPE html>
<html lang="ru">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/trivia.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <nav role="navigation" class="navigation"> <!--class="brown lighten-2">-->
            <div class="navigation__container"> <!--class="nav-wrapper container">-->
                <a href="/" class="navigation__title"> <!--!class="brand-logo">-->
                    База данных фотографий Л.Н. Толстого
                </a>
                <ul class="navigation__list"><!--class="right hide-on-med-and-down">-->
                    <li><a class="navigation__list-item" href="/download">Скачать</a></li>
                    <li><a class="navigation__list-item" href="/search">Поиск</a></li>
                    <li><a class="navigation__list-item" href="/tolstoy-instagram">Инстаграм</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="page">
        {% block content %}{% endblock %}
    </div>
    <!-- Sticky footer -->
    <footer class="page-footer brown lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Использование материалов</h5>
                    <p class="grey-text text-lighten-4">Тут будет легальная информация про лицензию.</p>
                </div>
                <div class="col l6 offset-l2 s12">
                    <h5 class="white-text">Контакты</h5>
                <ul>
                    <li>Магистерская программа &laquo;Цифровые методы в гуманитарных науках&raquo;:
                        <a class="grey-text text-lighten-3" href="https://hse.ru/ma/dh">сайт</a>,
                        <a class="grey-text text-lighten-3" href="https://vk.com/dhmaga">VK</a>.
                    </li>
                    <li>Государственный музей Л.Н. Толстого:
                        <a class="grey-text text-lighten-3" href="https://tolstoymuseum.ru/">сайт</a>.
                    </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="footer-copyright brown lighten-1">
            <div class="container">
                © 2019–2021
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/additional.js') }}"></script>
    <script>
    $(document).ready(function(){
         $('#loader').hide();
          $("#submission").click(function () {
              $("#submission").hide();
             $('#loader').show();
         });
     });
    </script>
</body>
</html>