{% extends "base.html" %}

{% block pagetitle %}База данных фотографий Л.Н. Толстого: Ошибка{% endblock %}

{% block pagecontent %}
<!-- title section + call to action -->
<div class="section no-pad-bot">
    <div class="container">
        <h2 class="header center">Результаты поиска</h2>
    </div>
</div>
<!-- main body content -->
<div class="container" id="content-main">
    <div class="center-align">
        <p>Что-то пошло не так… <br />
        Попробуйте ещё раз!</p>
        <img src="./static/images/404_horse.jpg" width="60%" />
        <div class="row">
            <div class="col m3"></div>
            <div class="col m6">
                <p class="light"><i>Л.Н.Толстой в белых блузе и картузе - профиль вправо; П.П.Трубецкой - анфас.
                На 2-ом плане за белой кирпичной оградой - кухня.</i> Снято в Ясной Поляне Э. Трубецкой в 1899 г.</p>
            </div>
            <div class="col m3"></div>
        </div>
    </div>
</div>
{% endblock %}