{% extends "base.html" %}

{% block pagetitle %}База данных фотографий Л.Н. Толстого{% endblock %}

{% block content %}
<!-- title section + call to action -->
<div class="section no-pad-bot">
    <div class="container">
        <h2 class="header center">Все фотографии Толстого в один клик</h2>
        <div class="row center">Совместный проект Высшей школы экономики и Государственного музея Л.Н. Толстого</div>
    </div>
</div>
<!-- main body content -->
<div class="container" id="content-main">
    <div class="section" id="project-description">
        <div class="row">
            <div class="col s12 m6">
                <h5 class="header center">О чём этот проект?</h5>
                <p class="light">&laquo;Инстаграм Льва Толстого&raquo;  –  совместный проект Государственного музея Л.Н.Толстого и магистерской программы &laquo;Digital Humanities&raquo;Ω НИУ ВШЭ по оцифровке и размещению в открытом доступе архива из сделанных в период с 1849 года и до середины XX века фотографий. События и лица из окружения Льва Толстого запечатлены на 15842 фотографиях. Большая часть (около 12 000) – изображения самого Льва Николаевича.</p>
                <p class="light">База фотографий на сайте —  это размещенный в открытом доступе digital-продукт систематизированных и обработанных архивов музея. На его основе можно проводить исследования и любые другие действия, направленные на извлечение информации и её анализ. База содержит сведения о каждой фотографии и позволяет получить её метаданные, а также миниатюру или полноразмерный вариант изображения.</p>
                <p class="light">На наших данных можно анализировать способы фотографирования, места, где чаще всего фотографировался Лев Толстой, людей, с которыми он фотографировался, варианты позирования (фас, профиль, ¾ и т.д), животных, которые встречаются на фотографиях, и многое другое. Кроме того, можно посмотреть фотографии актеров, задействованных в спектаклях по пьесам Толстого, и  декорации к его спектаклям.</p>
                <p class="light">Проект &laquo;Инстаграм Льва Толстого&raquo; — это новый шаг в изучении и популяризации  наследия Льва Толстого, повседневной жизни писателя и его окружения, запечатленной в фотографиях и отраженной в дневниках и письмах писателя. Для своего времени Лев Толстой был ярчайшей и известнейшей личностью мирового масштаба, сравнимою по узнаваемости, обожанию и даже флёром бунтарства с современными поп-звездами. За ним буквально “охотились” фотографы, ему писали крестьяне из далеких деревень, к нему приезжали иностранные журналисты, с ним встречались высшие слои аристократии.</p>
                <p class="light">&laquo;Инстаграм Льва Толстого&raquo; — это визуальное дополнение к большому оцифрованному архиву 90-томника собрания сочинений писателя. После завершения работы над “Инстаграмом” все части архива будут сведены вместе, что позволит искать, сопоставлять и комплексно анализировать произведения Л.Толстого, его письма, дневники и фотографии: этому помогут единообразная разметка в TEI и линки на 91 том. Например, можно будет не только посмотреть на фотопортрет Льва Толстого, но и на его переписку с автором портрета, и наоборот — посмотреть, как выглядел знаменитый г-н В.Чертков, переписка с которым занимает 5 из 90 томов собрания сочинений.</p>
            </div>
            <div class="col s12 m6">
                <h5 class="header center">Что можно сделать на этом сайте?</h5>
                <p class="light">Фотографии можно посмотреть <b>по автору</b>: например, работы С. Л. Левицкого, М. Б. Тулинова, И. Жерюзе (1856, 1862 гг. ), коллекции профессиональных фотографов фирмы «Шерер, Набгольц и К», которая снимала Толстого и его семью на протяжении почти четверти века, большие любительские фотоколлекции были созданы соседом по имению князем С. С. Абамелеком-Лазаревым (1884 г.), другом семьи М. А. Стаховичем (1887 г.). Кроме того, множество фотографий сделаны родственниками, друзьями и знакомыми Льва Николаевича.</p>
                <p class="light">Фотографии на сайте можно посмотреть <b>по месту съёмки</b>: например, в имении в Ясной Поляне, на Кавказе, в Крыму, в гостях и т.д.</p>
                <p class="light">Интересным для изучения базы фотографий являются не только сами фотографии, отсортированные по ключевым словам, но и те <b>пометки</b>, которые на протяжении более 100 лет делали хранители музея. Фактически, это оцифрованные рукописные записи, максимально подробно описывающие изображение. Например:
                    <ul>
                        <li style="list-style-type: initial;" class="light">“Гуляют по перрону. Л.Н. в темной блузе и серой шляпе, с палкой-стулом в левой руке; слева под руку идет С.А. Толстая с букетом”,</li>
                        <li style="list-style-type: initial;" class="light">“Четырёхгранный постамент из белого мрамора с надписью выпуклыми буквами на передней части: «Младенец граф Иван Львович Толстой» и даты жизни”, </li>
                        <li style="list-style-type: initial;" class="light">“Рассказывает сказку об огурце“ (более краткое, но сложно индексируемое для поиска)</li>
                        <li style="list-style-type: initial;" class="light">ёмкое описание: “Перед домом Веригиных огромная толпа взрослых и детей. По обе стороны стола в центре стоят вдова П.В.Веригина (слева) и сын, П.П.Веригин, справа около него стоит П.И.Бирюков. На 2-ом плане на высоких столбах транспарант на русском и английском языках”.</li>
                    </ul>
                </p>
                <p class="light">Из подробного описания фотографий, которое открывается при просмотре каждой по-отдельности, можно брать разноплановую историческую информацию, относящуюся не только к семье и быту Льва Толстого, но и к общественной жизни того времени, включая дни рождения, похороны, поездки, моду и привычки XIX-XX вв.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}