{% extends "base.html" %}

{% block pagetitle %}База данных фотографий Л.Н. Толстого{% endblock %}

{% block content %}
<!-- title section + call to action -->
<div class="section no-pad-bot">
    <div class="container">
        <h2 class="header center">Все фотографии Толстого в один клик</h2>
        <div class="row center">Совместный проект Высшей школы экономики и Государственного музея Л.Н. Толстого</div>
    </div>
</div>
<!-- main body content -->
<div class="container" id="content-main">
    <div class="section" id="project-description">
        <div class="row">
            <div class="col s12 m6">
                <h5 class="header center">О чём этот проект?</h5>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Sem viverra aliquet eget sit amet tellus cras. Mauris pharetra
                    et ultrices neque ornare aenean euismod elementum nisi. Egestas purus viverra accumsan in nisl
                    nisi scelerisque eu.</p>
            </div>
            <div class="col s12 m6">
                <h5 class="header center">Что можно сделать на этом сайте?</h5>
                <p class="light">
                    Mauris cursus mattis molestie a iaculis at erat pellentesque. Fusce ut placerat orci nulla
                    pellentesque dignissim enim.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}