{% extends "base.html" %}

{% block pagetitle %}Инстаграм Толстого{% endblock %}

{% block content %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Инстаграм Толстого</h1>
        <p class="lead text-muted">Уникальная коллекция фотографий
		Музея Толстого в Ясной Поляне с живыми емкими заметками - так мог бы
		выглядеть блог писателя сегодня. Для снимков подобраны
		дневниковые записи писателя, сделанные в тот же день</p>
          <a href="/">← На главную</a>
        <p>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" height='270' style ="object-fit: cover;" src="https://i.ibb.co/V3nWYym/3col.png" >

            <div class="card-body">
              <p class="card-text"><b>leotolstoy </b>Утромъ Поша.
			  Все такой же серьезный, простой, добрый.
			  Пріѣхали корресп[ондентъ] и фотографъ.
			  Я началъ новую работу для книжечекъ
			  Н[а] К[аждый] Д[ень] и сдѣлалъ первую: О Вѣрѣ.

</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">31 января 1910 г.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" height='270' style ="object-fit: cover;" src="https://i.ibb.co/r352y6q/2col.png" >

            <div class="card-body">
              <p class="card-text"><b>leotolstoy </b>  Потомъ надо было итти въ библіотеку. Все очень выдуманно, ненужно и фальшиво. Рѣчь Долг[орукова], мужик[и], фотографія. Ѣздилъ съ Душ[аномъ].
			  </p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">31 января 1910 г.</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" height='270'  style ="object-fit: cover;" src="https://i.ibb.co/qNctMd8/6col.png" >

            <div class="card-body">
              <p class="card-text"><b>leotolstoy </b>Пережилъ очень тяжелыя чувства. Слава Богу, что пережилъ. Безчисленное количество народа, и все это было бы радостно, если бы все не отравлялось сознаніе[мъ] безумія, грѣха, гадости роскоши, прислуги и бѣдности и сверхсильнаг[о] напряженi[я] труда кругомъ. Не переставая мучительно страдаю отъ этого, и одинъ. </p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">9 Іюля 1908. </small>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
 <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" height='270'  style ="object-fit: cover;"src="https://i.ibb.co/2qxqGTG/12col.png" >

            <div class="card-body">
              <p class="card-text"> <b>leotolstoy </b>Я думаю, что кончилъ о религіи. Какъ всегда сомнѣваюсь въ важности и добротѣ этого сочиненія, но кажется теперь болѣе основательно, чѣмъ въ прежнихъ случаяхъ.
Дома хорошо. Машу мало вижу. Радъ, что и Горь[кій] и Чеховъ мнѣ пріятны, особенно первый. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">29 Ноября 1901</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" height='270'  style ="object-fit: cover;" src="https://i.ibb.co/dL3Z29w/13col.png" >

            <div class="card-body">
              <p class="card-text"><b>leotolstoy </b>Читаю газеты, журналы. Филос[офію] Ничше, драмы Ибсена, науку Ломброзо. Вѣдь это полное убожество мысли и чувст[въ].
</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">1901</small>
              </div>
            </div>
          </div>
        </div>
		<div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" height='270' style ="object-fit: cover;" src="https://i.ibb.co/tKgC8GF/17col.png" >

            <div class="card-body">
              <p class="card-text"><b>leotolstoy </b>Короткая молитва: Не оставляй меня Ты (не могу назвать Тебя). Помогай мнѣ служить Тебѣ въ дѣлѣ Твоемъ, быть съ Тобою, въ Тебѣ и Тобою. [460]

2) Поѣсть, когда голоденъ, выпить воды, когда хочется пить, большое удовольствіе тѣлу. Но отказаться отъ ѣды, питья, отъ всего, чего хочетъ тѣло, уже не удовольствіе, а радость души. Знаетъ это только тотъ, кто испыталъ это
              </p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">28 августа 1908 г.</small>
              </div>
            </div>
          </div>
        </div>

            </div>
        </div>
    </div>
  </div>
{% endblock %}