{% extends "base.html" %}

{% block pagetitle %}База данных фотографий Л.Н. Толстого: фото {{ photo.id_photo }}{% endblock %}

{% block content %}
<!-- title section + call to action -->
<div class="section no-pad-bot">
    <div class="container">
        <h2 class="header center">Информация о фотографии</h2>
        <div class="row center">Фото №{{ photo.id_photo }}</div>
    </div>
</div>
<!-- main body content -->
<div class="container" id="content-main">
    <div class="center">
        <img src="{{ url_for('static', filename=photo.files[0].fullsize_file) }}" alt="{{ photo.title }}" />
    </div>

    <table>
        <tr>
            <td>Автор фотографии</td>
            <td>{{ photo.author.author_name if photo.author.author_name != "-1" else "Нет данных" }}</td>
        </tr>
        <tr>
            <td>Место съёмки</td>
            <td>{{ photo.location.location_name if photo.location.location_name != "-1" else "Нет данных" }}</td>
        </tr>
        <tr>
            <td>Дата съёмки</td>
            <td>{{ photo.year if photo.year != -1 else "Нет данных" }}</td>
        </tr>
        <tr>
            <td>Название фотографии</td>
            <td> {{ photo.title if photo.title != "-1" else "Нет данных" }}</td>
        </tr>
        <tr>
            <td>Описание фотографии</td>
            <td>
                {{ photo.photo_description if photo.photo_description != "-1" else "Нет описания" }}
            </td>
        </tr>
    </table>
</div>
{% endblock %}