{% extends "base.html" %}

{% block pagetitle %}База данных фотографий Л.Н. Толстого: Поиск{% endblock %}

{% block content %}
<!-- title section + call to action -->
<div class="section no-pad-bot">
    <div class="container">
        <h2 class="header center">Поиск фотографий</h2>
    </div>
</div>
<!-- main body content -->
<div class="container" id="content-main">
    <form method="POST" action="/results">
        <div class="section" id="search-form">
            <div class="row">
                <div class="col s12 m6">
                    <h5 class="header center">Ключевые слова</h5>
                    <p class="light">
                        <p>
                            Название фотографии:
                            <input type="text" name="photo_title" placeholder="например, «переснимок»" />
                        </p>
                        <p>
                            Рубрики:
                            <input type="text" name="rubrics" placeholder="например, «семья»" />
                        </p>
                    </p>
                </div>
                <div class="col s12 m6">
                    <h5 class="header center">Другие параметры</h5>
                    <p>Место съёмки:
                        <input type="text" name="place" placeholder="например, «Ясная Поляна»" />
                    </p>
                </div>
            </div>
            <div class="row center-align">
                <input type="submit" class="waves-effect brown lighten-2 btn-large" value="Отправить" />
            </div>
        </div>
    </form>
</div>
{% endblock %}